Minecraft/data
Nextcloud/data
Nextcloud/db
UptimeKuma/data
Homebridge/data
HomeAssistant/.cloud
HomeAssistant/.storage
HomeAssistant/.HA_VERSION
CodeServer/config/*
Pi-hole/etc-*
YourSpotify/db
CodeServer/config
HomeAssistant/data
PasteBin/data
